upstream docker_managers {
{% for manager in manager_list %}
  server {{ manager }}:{{ app.published_port }} weight=1;
{% endfor %}
}

server {
  listen 80;
  server_name _;
  location / {
    proxy_pass http://docker_managers/ ;
  }
}
